<!DOCTYPE html>
<html lang="en">
<head>
  <title>Mini Project</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h1 class="label label-success">Horizontal form</h1>
  <form class="form-horizontal" method="POST" action="submit">
    <div class="form-group">
      <label class="control-label col-sm-2" for="pwd">Student Name</label>
      <div class="col-sm-10">
        <input type="text" value = "{{name}}" name="s_name" readonly>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="pwd">Project Title</label>
      <div class="col-sm-10">
        <input type="text" name = "P_title">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="pwd">Project Description</label>
      <div class="col-sm-10">
        <textarea style="width:300px; height: 150px;" name = "P_desc">

        </textarea>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="pwd">Partner 1</label>
      <div class="col-sm-10">
        <select class="form-control" name="Ptnr1">

          {%for a in all_name%}
          
          <option> {{a['s_name'] + " "+ a['s_roll']}} </option>
          
          {%endfor%}
        </select>
      </div>
      <br><br>
      <label class="control-label col-sm-2" for="pwd">Partner 2</label>
      <div class="col-sm-10">
        <select class="form-control" name="Ptnr2">
          {%for a in all_name%}
          
          <option> {{a['s_name'] + " "+ a['s_roll']}} </option>
         
          {%endfor%}
        </select>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="pwd">Project Supervisor</label>
      <div class="col-sm-10">
        <select class="form-control" id="program" name="P_sup">
          {%for s in staff_name%}
          <option> {{s}} </option>
          {%endfor%}
        </select>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <input type="submit" class="btn btn-default" value="  submit  ">
      </div>
    </div>
  </form>
</div>

</body>
</html>
